<div class="row card other-card">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span>Adresse</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ligne 1</span></dt>
                <dd>
                    <span>{{address.line1}}</span>
                </dd>
                <dt><span>Ligne 2</span></dt>
                <dd>
                    <span>{{address.line2}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span>Code postale</span></dt>
                <dd>
                    <span>{{address.postalCode}}</span>
                </dd>
                <dt><span>Lat</span></dt>
                <dd>
                    <span>{{address.lat}}</span>
                </dd>
                <dt><span>Lon</span></dt>
                <dd>
                    <span>{{address.lon}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-outline-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Éditer</span>
            </button>
        </div>
    </div>
</div>
