<div class="row card other-card">
    <div class="col-12">
        <div *ngIf="runSheet">
            <h2 class="header-page"><i class="mdi mdi-receipt icon-lg icon"></i><span>Run Sheet</span> {{runSheet.code}}
                <button id="jh-create-entity" (click)="generatePDF(runSheet)" class="btn btn-outline-danger float-right jh-create-entity create-run-sheet">
                    <fa-icon [icon]="pdfIcon"></fa-icon>
                    <span >
            Voir bon
            </span>
                </button>
            </h2>
            <jhi-alert-error></jhi-alert-error>

            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <dl class="row-md jh-entity-details">
                        <h5>Detaille Run Sheet</h5>
                        <hr>
                        <dt><span>Code</span></dt>
                        <dd>
                            <span>{{runSheet.code}}</span>
                        </dd>
                        <dt><span>Date Création</span></dt>
                        <dd>
                            <span>{{runSheet.creationDate}}</span>
                        </dd>
                        <dt><span>Montant Total</span></dt>
                        <dd>
                            <span>{{montant}} DT</span>
                        </dd>
                        <dt><span>Status</span></dt>
                        <dd>
                            <span>{{runSheet.status}}</span>
                        </dd>
                        <br>
                        <h5>Livreur</h5>
                        <hr>
                        <dt><span>Nom Complet</span></dt>
                        <dd>
                            <div *ngIf="runSheet.deliveryManId">
                                <a [routerLink]="['/delivery-man', runSheet.deliveryManId, 'view']">{{runSheet.deliveryMan.firstName}} {{runSheet.deliveryMan.lastName}}</a>
                            </div>
                        </dd>
                        <br>
                    </dl>
                </div>
                <div class="col-md-12 col-lg-6">
                    <span class="badge badge-pill badge-success" style="float: right;">{{runSheet.deliveryPackages.length}}</span>
                    <h5>Liste Colis</h5>
                    <hr>
                    <div class="fluid-container fade-in" *ngFor="let deliveryPackage of runSheet.deliveryPackages">
                        <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                            <div class="ticket-details col-md-10">
                                <div class="d-flex">
                                    <p class="text-primary mr-1 mb-0">[{{deliveryPackage.code}}]</p>
                                    <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">{{deliveryPackage.shipper.firstName}} {{deliveryPackage.shipper.lastName}}</p>
                                    <p class="mb-0 ellipsis">{{deliveryPackage.receiverFirstName}} {{deliveryPackage.receiverLastName}}, Tel : {{deliveryPackage.receiverPhone}}</p>
                                </div>
                                <div class="row text-gray d-md-flex d-none">
                                    <div class="col-12 d-flex">
                                        <small class="mb-0 mr-2 text-muted text-muted">Client :</small>
                                        <small class="Last-responded mr-2 mb-0 text-muted text-muted">{{deliveryPackage.shipper.firstName}} {{deliveryPackage.shipper.lastName}}</small>
                                        <small class="mb-0 mr-2 text-muted text-muted">Crée :</small>
                                        <small class="Last-responded mr-2 mb-0 text-muted text-muted">{{deliveryPackage.creationDate | date:'medium'}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-outline-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/run-sheet', runSheet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Éditer</span>
            </button>
        </div>
    </div>
</div>
